.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  margin-left: 1rem;
}

.burger {
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: white;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.burger1Rotate {
    transform: rotate(45deg);
    background-color: var(--primary-yellow);
}

.burgerNoRotate {
    transform: rotate(0);
}

.burger2Rotate {
    transform: translateX(100%);
    opacity: 0;
}

.burger2 {
    transform: translateX(0);
    opacity: 1;
}

.burger3Rotate {
    transform: rotate(-45deg);
    background-color: var(--primary-yellow);
}