.header {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131212;
  padding: 1rem 10%;
  border-bottom: 5px solid #b99c06;
}

.logo {
  position: relative;
  width: 100px;
  height: 100%;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.navigation li {
  margin-left: 3rem;
  font-size: 1.5rem;
}

.navigation a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #b99c06;
}

.active {
  border-bottom: 1px solid #b99c06;
}

@media (max-width: 768px) {
  .logo {
    width: 80px;
    height: 80%;
  }
  .navigation a {
    font-size: 1rem;
  }
}
