.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
}

.list::after {
  content: "";
  flex-basis: 285px;
}

@media (max-width: 768px) {
  .list {
    justify-content: center;
  }
  .list::after {
    content: "";
    flex-basis: auto;
  }
}
