.item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 320px;
  background: red;
}

.itemImg {
  position: relative;
  width: inherit;
  height: 60%;
  background-color: var(--primary-background);
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  background-color: black;
}

.content h4, 
.content h5 {
  color: white;
  margin: 1rem;
}

.content h3 {
  align-items: center;
  background-color: var(--lighter-yellow);
  color: black;
  padding: 5px;
  margin: 0;
}

.actions {
  padding: 2rem;
  text-align: center;
  justify-self: flex-end;
}


@media (max-width: 768px) {
  .item {
    justify-content: center;
  }
}
