.item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 570px;
  width: 285px;
  margin: 20px;
}

.itemImg {
  position: relative;
  height: 340px;
  background-color: var(--primary-background);
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  background-color: black;
  height: 230px;
}

.content h4,
.content h5 {
  color: white;
  margin: 10px;
}

.content h3 {
  align-items: center;
  background-color: var(--lighter-yellow);
  color: black;
  padding: 5px;
  margin: 0;
}

.spacer {
  flex-grow: 1;
}

.actions {
  padding: 32px;
  text-align: center;
}

@media (max-width: 768px) {
  .item {
    justify-content: center;
  }
}
