.container {
  padding: 0;
  text-align: center;
  margin: 3rem auto;
}

.iconRow {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.iconItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px;
}

.icon {
  height: 60px;
  width: 50px;
  margin: 0 auto;
  position: relative;
}

.specText {
  color: black;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .iconRow {
    flex-wrap: wrap;
    justify-content: center;
  }
  .specText {
    font-size: 12px;
    width: 8rem;
  }
}