.list {
  /* width: 90%;
  max-width: 40rem;
  margin: 5rem auto;
  min-width: 40%;
  justify-content: space-around;
  padding: 10px;
  */
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  width: 90%;
  margin: 0 auto;
}

